/* Navbar CSS */
.customNav {
    background-color: white;
}

.customNav li.nav-item.active {
    color: black;
    font-size: 18px;
}

.customNav li.nav-item.active a {
    color: gold!important;
}

.customNav li.nav-item.active a:hover{
    color: black!important;
}

.customNav li.nav-item a:hover {
    color: black!important;
}

/* Resume Containers and Divs */
div.container.myResume {
    background-color: lightyellow;
    padding: 20px;
}

/* Typography */
h1 {
    font-display: flex;
    margin: 20px;
    padding-top: 30px;
    font-weight: bolder!important;
    font-size: 36px!important;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
    padding-bottom: 20px;
    font-weight: lighter;
    font-style: italic;
    font-size: 20px!important;
}

/* Resume Image */
img.responsive.yellowPortrait {
    border-radius: 50%;
    max-width: 275px;
    width: 100%;
    height: auto;
}

/* Media queries */
@media (max-width: 768px) {
    .myResume {
        border-width: 0px;
    }
}
