.customNav {
    background-color: darkgrey;
}

.customNav li.nav-item.active {
    color: white;
    font-size: 18px;
}

.customNav li.nav-item.active a {
    color: white!important;
}

.customNav li.nav-item.active a:hover{
    color: black!important;
}

.customNav li.nav-item a:hover {
    color: black!important;
}

img {
    border-radius: 50%;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
}