.customNav {
    background-color: white;
}

.customNav li.nav-item.active {
    color: black;
    font-size: 18px;
}

.customNav li.nav-item.active a {
    color: gold!important;
}

.customNav li.nav-item.active a:hover{
    color: black!important;
}

.customNav li.nav-item a:hover {
    color: black!important;
}

img {
    border-radius: 50%;
    height: 70px;
}

.container {
    width: 100%;
    padding-right: 20px;
    padding-left: 20px;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 50px;
    display: flex;
}



div .nameTitle h1 {
    font-weight: bold;
}

div .nameTitle h5 {
    font-weight: lighter;
    font-style: italic;
}

hr.borderLine {
    border: 1px solid black;
    margin-bottom: 20px;
    margin-top: 20px;
  }

div .contactInfo {
    padding-left: 145px;
}

div h3 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

.intro p {
    padding-left: 100px;
    width: 550px;
}

div .row {
    display: flex;

}

div .col-8 a {
    color: #ffc107!important;
    text-decoration: none;
    background-color: transparent;
}

p {
    font-size: 15px;
}

div h6 {
    font-size: 17px;
    font-weight: bold;
    color: gold;
}

.dot {
    height: 15px;
    width: 15px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
  }

.dotFill {
    height: 15px;
    width: 15px;
    background-color:gold;
    border-radius: 50%;
    display: inline-block;
  }

div h4 {
    font-size: 15px!important;
    font-style: italic!important;
    font-weight: lighter!important;
}